body, html { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
.header, .footer {
    background-color: #ffffff;
    padding: 16px 24px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 14px;
}
.header button {
    background-color: #21ce99;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.2s;
}
.header button:hover {
    background-color: #17a589;
}
.main, .history {
    padding: 20px;
    margin: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: none; /* Initially hide sections */
}
.active {
    display: block; /* Show active section */
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ddd;
}
th, td {
    padding: 8px;
    text-align: left;
}
thead {
    background-color: #f0f0f0;
}
tr:nth-child(even) {
    background-color: #fbfbfb;
}
button {
    background-color: #4ca2af; /* Green */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 25%;
    width: 90%;
    height: 20px;
}
/* Trong phần CSS của bạn */
#searchInput {
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
margin-bottom: 10px;
width: 500px; /* Điều chỉnh độ rộng của ô tìm kiếm */
/* căn trái */
margin-left: 1000px;
}

#searchInput::placeholder {
color: #999; /* Màu chữ mờ khi không có nội dung trong ô tìm kiếm */
}
.table-wrapper {
max-height: 500px; /* Điều chỉnh chiều cao tối đa của khung */
overflow: auto; /* Tạo ra thanh cuộn nếu chiều cao vượt quá max-height */
}

/* Tùy chỉnh CSS cho bảng nếu cần */
#portfolio {
width: 100%;
border-collapse: collapse;
margin-top: 20px;
border: 1px solid #ddd;
}

/* Các quy tắc CSS khác cho bảng (th, td, ...) */
#portfolio tbody tr {
padding: 20px 0; /* Điều chỉnh khoảng cách giữa các dòng */
}
#portfolio tbody {
max-height: 600px; /* Đặt chiều cao tối đa cho phần tbody */
overflow-y: auto; /* Hiển thị thanh cuộn khi nội dung vượt quá chiều cao */
}

#portfolio thead {
position: sticky;
top: 0;
z-index: 1;
background-color: #f0f0f0; /* Màu nền cho phần tiêu đề */
}

#portfolio th {
position: -webkit-sticky; /* Cho trình duyệt Safari */
position: sticky;
top: 0;
background-color: #f0f0f0; /* Màu nền cho các ô tiêu đề */
}
